*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #E5E5E5;
}
body{
  background-color: #34495e;
}
.Cards,.buttons{
  display: flex;
  justify-content: space-around;
}

.Container{
  width: 980px;
  height: 100vh;
  margin: auto;
}
.Cards{
  height: 100%;
  width: 100%;
  align-items: center;
}
.Card{
  padding:10px;
  width: 268px;
  height: 265px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px  black;
  transition: all 0.5s;
  margin: 13px;
}
.Card:hover{
  transform: scale(1.1);
  box-shadow: 6px 6px 3px  black;
}

.sprite{
  display: flex;
  justify-content: center;
}
.sprite > img{
  width: 138px;
  height: 144px;
}

.buttons{
  width: 100%;
}

.Button{
  border-radius: 10px;
  width: 106px;
  height: 43px;
  outline: none;
  /* border: 1px solid; */
  font-size: 30px;
  font-weight: 800;
}

@media screen and (max-width: 980px) {
  .Cards{
    flex-wrap: wrap;
  }
  .Container{
    width: 100%;
  }
}